body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f5f7e8;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6) contrast(1.1);
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px 20px;
    background: rgba(101, 162, 101, 0.7);
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
.content h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-size:35px;
    font-weight: bold;
    color: white;
}
.content p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
}
/* Navbar Styling */
.navbar {
    background: #264d26;
    padding: 8px 0;  /* Reduced padding */
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #f8f8f8 !important;
    padding: 5px 10px;  /* Adjusted padding */
}

.navbar-nav .nav-item {
    margin: 0 3px;  /* Reduced margin */
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #ffffff !important;
    font-weight: bold;
    padding: 6px 10px;  /* Adjusted padding */
    border: 1px solid #ffffff;
    border-radius: 6px;
}

@media (max-width: 768px) {
.content {
width: 90%;
padding: 20px 15px;
}

.content h1 {
font-size: 24px;
}

.content p {
font-size: 14px;
line-height: 1.4;
}
}
footer {
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
}

footer a {
    font-size: 20px;
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
footer a:hover {
    transform: scale(1.2);
    color: #4CAF50;
}
