body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f5f7e8;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6) contrast(1.1);
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 40px 20px;
    background: rgba(101, 162, 101, 0.7);
    width: 50%;
    margin: auto;
    border-radius: 10px;
}
.content h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-size:35px;
    font-weight: bold;
    color: white;
}
.content p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
}
/* Navbar Styling */
.navbar {
    background: #264d26;
    padding: 12px 0;
}
.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #f8f8f8 !important;
}
.navbar-nav .nav-item {
    margin: 0 5px;
}
.navbar-nav .nav-link {
    font-size: 16px;
    color: #ffffff !important;
    font-weight: bold;
    padding: 3px 1px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}
@media (max-width: 768px) {
.content {
width: 90%;
padding: 25px 15px;
}

.content h1 {
font-size: 24px;
}

.content p {
font-size: 14px;
line-height: 1.4;
}
}
